body {
  background: #cfd8dc;
  color: #37474f;
  font-family: "Tomorrow", sans-serif;
}
h1 {
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}
h2{
  font-weight: 900;
  padding: 0;
  margin: 5px auto;
  max-width: 400px;
}
h3 {
  font-family: "Shadows Into Light", cursive;
  position: relative;
}
ul {
  padding: 0;
  text-align: left;
}
li {
  list-style: none;
  font-size: 20px;
}

/*Search form*/
.searchform {
  padding: 0;
  margin: 5px auto;
  max-width: 450px;
}
.btn-dark{
  border-radius: 4px;
}
.btn-light{
  border-radius: 4px;
}

/*Selected location current weather*/
.fas {
  font-size: 20px;
  color: #37474f;
}
#last-updated {
  color: #e57373;
}
.currentWeather {
  padding: 5px;
  margin: 5px auto;
  max-width: 400px;
  border-radius: 10px;
  text-transform: capitalize;
}
.currentWeather .active {
  color: #37474f;
  cursor: default;
}
.currentWeather .active:hover {
  text-decoration: none;
}
.row .col-6,
.row {
  text-align: center;
}
img{
  position: relative;
}
.currentMaxMin{
  font-size: 25px;
  font-weight: 400;
  position: relative;
  top: -40px;
}
.currentValue {
  font-size: 40px;
  font-weight: 600;
}
.units{
  font-size: 20px;
  position: relative;
  top: 10px;
}
.currentSky {
  font-size: 20px;
  font-weight: 600;
}
.precipitation, .wind {
  font-size: 12px;
}

/*Container*/
.container {
  padding: 10px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
}
/*Forecast*/
.forecast {
  border: 1px solid #90a4ae;
  padding: 10px;
  margin: 15px auto;
  max-width: 800px;
  border-radius: 10px;
}
.maxTemp {
  color: #00695c;
}
.minTemp {
  color: #4db6ac;
}
